# API behavior
fastapi==0.110.0
pandas==2.2.1
scikit-learn==1.2.2
uvicorn==0.22.0

# Model management
joblib==1.2.0
mlflow==2.11.3

# Data validation
pandera==0.15.1
deepchecks==0.18.1
wrapt==1.15.0

# Database interaction
sqlalchemy==2.0.16
psycopg2-binary==2.9.6

# Notebook
ipykernel==6.23.3
